In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

import warnings

warnings.filterwarnings("ignore")

1. Создайте мешок слов с помощью sklearn.feature_extraction.text.CountVectorizer.fit_transform(). Применим его к 'tweet_stemmed' и 'tweet_lemmatized' отдельно.
Игнорируем слова, частота которых в документе строго превышает порог 0.9 с помощью max_df.
Ограничим количество слов, попадающий в мешок, с помощью max_features = 1000.
Исключим стоп-слова с помощью stop_words='english'. 
Отобразим Bag-of-Words модель как DataFrame. columns необходимо извлечь с помощью CountVectorizer.get_feature_names().

In [3]:
combine_df = pd.read_pickle('tweeter.pkl')
combine_df.head()

,id,label,tweet,clean_tweet,tweet_token,tweet_token_filtered,tweet_stemmed,tweet_lemmatized
0,1,0.0,@user when a father is dysfunctional and is s...,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunct, selfish, drag, kid, dysfunc...","[father, dysfunctional, selfish, drag, kid, dy..."
1,2,0.0,@user @user thanks for #lyft credit i can't us...,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee...","[thank, lyft, credit, use, caus, offer, wheelc...","[thank, lyft, credit, use, cause, offer, wheel..."
2,3,0.0,bihday your majesty,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]","[bihday, majesti]","[bihday, majesty]"
3,4,0.0,#model i love u take with u all the time in ...,model love yoyou take with yoyou all the time ...,"[model, love, yoyou, take, with, yoyou, all, t...","[model, love, yoyou, take, yoyou, time, yoyour]","[model, love, yoyou, take, yoyou, time, yoyour]","[model, love, yoyou, take, yoyou, time, yoyour]"
4,5,0.0,factsguide: society now #motivation,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, motivation]","[factsguid, societi, motiv]","[factsguide, society, motivation]"

In [4]:
cvec = CountVectorizer(max_df=0.9, max_features=1000, stop_words='english')

In [7]:
tweet_lemmatized = np.array(combine_df['tweet_lemmatized'].apply(lambda x: ' '.join(x)))
tweet_stemmed = np.array(combine_df['tweet_stemmed'].apply(lambda x: ' '.join(x)))

In [8]:
bov_lemmatized = cvec.fit_transform(tweet_lemmatized)
bovs_stemmed = cvec.fit_transform(tweet_stemmed)

In [13]:
df_lemmatized = pd.DataFrame(bov_lemmatized.toarray(), columns=cvec.get_feature_names())
df_stemmed = pd.DataFrame(bovs_stemmed.toarray(), columns=cvec.get_feature_names())
display(df_lemmatized.sample(3), df_stemmed.sample(3))

,abl,absolut,accept,account,act,action,actor,actual,ad,adapt,...,yoga,york,young,youtub,yoyou,yoyour,yoyoyou,yr,yrs,yummi
25791,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13298,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12113,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

,abl,absolut,accept,account,act,action,actor,actual,ad,adapt,...,yoga,york,young,youtub,yoyou,yoyour,yoyoyou,yr,yrs,yummi
7715,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28690,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39406,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

2. Создайте мешок слов с помощью sklearn.feature_extraction.text.TfidfVectorizer.fit_transform(). Применим его к 'tweet_stemmed' и 'tweet_lemmatized' отдельно.
Игнорируем слова, частота которых в документе строго превышает порог 0.9 с помощью max_df.
Ограничим количество слов, попадающий в мешок, с помощью max_features = 1000.
Исключим стоп-слова с помощью stop_words='english'.
Отобразим Bag-of-Words модель как DataFrame. columns необходимо извлечь с помощью TfidfVectorizer.get_feature_names().

In [18]:
tfidf = TfidfVectorizer(max_df=0.9,max_features=1000,stop_words='english')

In [19]:
bov_tfidf_lemmatized = tfidf.fit_transform(tweet_lemmatized)
bovs_tfidf_stemmed = tfidf.fit_transform(tweet_stemmed)

In [20]:
df_tfidf_lemmatized = pd.DataFrame(bov_tfidf_lemmatized.toarray(), columns=tfidf.get_feature_names())
df_tfidf_stemmed = pd.DataFrame(bovs_tfidf_stemmed.toarray(), columns=tfidf.get_feature_names())
display(df_tfidf_lemmatized.sample(3), df_tfidf_stemmed.sample(3))

,abl,absolut,accept,account,act,action,actor,actual,ad,adapt,...,yoga,york,young,youtub,yoyou,yoyour,yoyoyou,yr,yrs,yummi
37108,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20291,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46509,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,abl,absolut,accept,account,act,action,actor,actual,ad,adapt,...,yoga,york,young,youtub,yoyou,yoyour,yoyoyou,yr,yrs,yummi
7758,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
18796,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.513746,0.0,0.0
31073,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0

3. Проверьте ваши векторайзеры на корпусе который использовали на вебинаре, составьте таблицу метод векторизации и скор который вы получили (в методах векторизации по изменяйте параметры что бы добиться лучшего скора) обратите внимание как падает/растёт скор при уменьшении количества фичей, и изменении параметров, так же попробуйте применить к векторайзерам PCA для сокращения размерности посмотрите на качество сделайте выводы

In [22]:
# Загружаем данные
data = open('corpus').read()
labels, texts = [], []
for i, line in enumerate(data.split("\n")):
    content = line.split()
    labels.append(content[0])
    texts.append(" ".join(content[1:]))

# создаем df
trainDF = pd.DataFrame()
trainDF['text'] = texts
trainDF['label'] = labels
trainDF.head(5)

                                                text       label
0  Stuning even for the non-gamer: This sound tra...  __label__2
1  The best soundtrack ever to anything.: I'm rea...  __label__2
2  Amazing!: This soundtrack is my favorite music...  __label__2
3  Excellent Soundtrack: I truly like this soundt...  __label__2
4  Remember, Pull Your Jaw Off The Floor After He...  __label__2

In [73]:
from sklearn import model_selection, preprocessing, linear_model
from sklearn.metrics import accuracy_score

In [74]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(trainDF['text'], trainDF['label'])

In [75]:
classifier = linear_model.LogisticRegression()

# labelEncode целевую переменную
encoder = preprocessing.LabelEncoder()
y_train = encoder.fit_transform(y_train)
y_test = encoder.fit_transform(y_test)

In [76]:
models = []

models.append(('CountVectorizer',
               CountVectorizer(analyzer='word',
                               token_pattern=r'\w{1,}',
                               stop_words='english')))
models.append(('TfidfVectorizer',
               TfidfVectorizer(analyzer='word',
                               token_pattern=r'\w{1,}',
                               stop_words='english')))

In [77]:
from tqdm import tqdm

In [78]:
results = []

for name, model in tqdm(models):
  model.fit(trainDF['text'])
  X_train_count = model.transform(X_train)
  X_test_count = model.transform(X_test)
  classifier.fit(X_train_count, y_train)
  predictions = classifier.predict(X_test_count)
  f1_score = accuracy_score(y_test, predictions)
  results.append((name, f1_score))

stock_model = pd.DataFrame(results, columns=['model', 'f1_score'])
stock_model.sort_values('f1_score', ascending=False)

100%|██████████| 2/2 [00:03<00:00,  1.55s/it]

             model  f1_score
1  TfidfVectorizer    0.8464
0  CountVectorizer    0.8408

In [46]:
import itertools

In [91]:
models = []
max_df = [1, 0.9, 0.5, 0.1]
max_features = [3000, 1500, 1000, 350]

In [92]:
for df, features in itertools.product(max_df, max_features):
  models.append((f'CVec_max_df_{df}_max_f_{features}',
                 CountVectorizer(analyzer='word', token_pattern=r'\w{1,}',
                 max_df=df, max_features=features, stop_words='english')))
  models.append((f'Tfidf_max_df_{df}_max_f_{features}',
                 TfidfVectorizer(analyzer='word',
                 token_pattern=r'\w{1,}', max_df=df,
                 max_features=features, stop_words='english')))

In [93]:
for name, model in tqdm(models):
  model.fit(trainDF['text'])
  X_train_count = model.transform(X_train)
  X_test_count = model.transform(X_test)
  classifier.fit(X_train_count, y_train)
  predictions = classifier.predict(X_test_count)
  f1_score = accuracy_score(y_test, predictions)
  results.append((name, f1_score))

models = pd.DataFrame(results, columns=['model', 'f1_score'])
models.sort_values('f1_score', ascending=False)

100%|██████████| 32/32 [00:37<00:00,  1.18s/it]

                          model  f1_score
4                         Tfidf    0.8464
14  Tfidf_max_df_0.9_max_f_3000    0.8460
22  Tfidf_max_df_0.5_max_f_3000    0.8460
30  Tfidf_max_df_0.1_max_f_3000    0.8424
3                    Tfidf_1000    0.8396
24  Tfidf_max_df_0.5_max_f_1500    0.8368
16  Tfidf_max_df_0.9_max_f_1500    0.8368
13   CVec_max_df_0.9_max_f_3000    0.8348
21   CVec_max_df_0.5_max_f_3000    0.8348
2                     Tfidf_500    0.8336
32  Tfidf_max_df_0.1_max_f_1500    0.8336
23   CVec_max_df_0.5_max_f_1500    0.8324
15   CVec_max_df_0.9_max_f_1500    0.8324
18  Tfidf_max_df_0.9_max_f_1000    0.8292
26  Tfidf_max_df_0.5_max_f_1000    0.8292
17   CVec_max_df_0.9_max_f_1000    0.8208
25   CVec_max_df_0.5_max_f_1000    0.8208
34  Tfidf_max_df_0.1_max_f_1000    0.8188
29   CVec_max_df_0.1_max_f_3000    0.8184
1                     Tfidf_100    0.8168
31   CVec_max_df_0.1_max_f_1500    0.8140
33   CVec_max_df_0.1_max_f_1000    0.8056
27    CVec_max_df_0.5_max_f_350    0.8024
19    CVec_max_df_0.9_max_f_350    0.8024
28   Tfidf_max_df_0.5_max_f_350    0.8008
20   Tfidf_max_df_0.9_max_f_350    0.8008
35    CVec_max_df_0.1_max_f_350    0.7852
36   Tfidf_max_df_0.1_max_f_350    0.7852
0                      Tfidf_10    0.7552
12     Tfidf_max_df_1_max_f_350    0.5156
11      CVec_max_df_1_max_f_350    0.5156
10    Tfidf_max_df_1_max_f_1000    0.5156
9      CVec_max_df_1_max_f_1000    0.5156
8     Tfidf_max_df_1_max_f_1500    0.5156
7      CVec_max_df_1_max_f_1500    0.5156
6     Tfidf_max_df_1_max_f_3000    0.5156
5      CVec_max_df_1_max_f_3000    0.5156

In [94]:
from sklearn.decomposition import TruncatedSVD

In [95]:
models = []

models.append(('Tfidf',TfidfVectorizer(analyzer='word',token_pattern=r'\w{1,}',stop_words='english')))

In [96]:
features = [10, 100, 500, 1000]

for name, model in models:
  for n in tqdm(features):

    model.fit(trainDF['text'])
    svd = TruncatedSVD(n_components=n, random_state=42, algorithm='arpack')

    X_train_count = model.transform(X_train)
    X_test_count = model.transform(X_test)

    X_train_count_svd = svd.fit_transform(X_train_count)
    X_test_count_svd = svd.transform(X_test_count)

    classifier.fit(X_train_count_svd, y_train)

    predictions = classifier.predict(X_test_count_svd)

    f1_score = accuracy_score(y_test, predictions)

    results.append((str(name) + '_' + str(n), f1_score))

pca_model = pd.DataFrame(results, columns=['model', 'f1_score'])
pca_model.sort_values('f1_score', ascending=False)

100%|██████████| 4/4 [02:31<00:00, 37.76s/it]

                          model  f1_score
4                         Tfidf    0.8464
14  Tfidf_max_df_0.9_max_f_3000    0.8460
22  Tfidf_max_df_0.5_max_f_3000    0.8460
30  Tfidf_max_df_0.1_max_f_3000    0.8424
40                   Tfidf_1000    0.8396
3                    Tfidf_1000    0.8396
16  Tfidf_max_df_0.9_max_f_1500    0.8368
24  Tfidf_max_df_0.5_max_f_1500    0.8368
21   CVec_max_df_0.5_max_f_3000    0.8348
13   CVec_max_df_0.9_max_f_3000    0.8348
2                     Tfidf_500    0.8336
39                    Tfidf_500    0.8336
32  Tfidf_max_df_0.1_max_f_1500    0.8336
15   CVec_max_df_0.9_max_f_1500    0.8324
23   CVec_max_df_0.5_max_f_1500    0.8324
18  Tfidf_max_df_0.9_max_f_1000    0.8292
26  Tfidf_max_df_0.5_max_f_1000    0.8292
17   CVec_max_df_0.9_max_f_1000    0.8208
25   CVec_max_df_0.5_max_f_1000    0.8208
34  Tfidf_max_df_0.1_max_f_1000    0.8188
29   CVec_max_df_0.1_max_f_3000    0.8184
38                    Tfidf_100    0.8168
1                     Tfidf_100    0.8168
31   CVec_max_df_0.1_max_f_1500    0.8140
33   CVec_max_df_0.1_max_f_1000    0.8056
19    CVec_max_df_0.9_max_f_350    0.8024
27    CVec_max_df_0.5_max_f_350    0.8024
28   Tfidf_max_df_0.5_max_f_350    0.8008
20   Tfidf_max_df_0.9_max_f_350    0.8008
35    CVec_max_df_0.1_max_f_350    0.7852
36   Tfidf_max_df_0.1_max_f_350    0.7852
37                     Tfidf_10    0.7552
0                      Tfidf_10    0.7552
12     Tfidf_max_df_1_max_f_350    0.5156
11      CVec_max_df_1_max_f_350    0.5156
10    Tfidf_max_df_1_max_f_1000    0.5156
9      CVec_max_df_1_max_f_1000    0.5156
8     Tfidf_max_df_1_max_f_1500    0.5156
7      CVec_max_df_1_max_f_1500    0.5156
6     Tfidf_max_df_1_max_f_3000    0.5156
5      CVec_max_df_1_max_f_3000    0.5156